@media all and (min-width: 480px) {
    .Register {
        margin: 0;
        position: relative;
        left: 50%;
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        top:50px;
        width: 600px;
    }

    .Register form {
        margin: 0 auto;
        width: auto;
        border: 1px solid lightgray;
        border-radius: 5px;
        
    }

    .form-group{
        text-align: left;
        padding: 5px 20px 5px 20px;
    }

    #submit_btn{
        width: 100px;
        align-self: center;
        margin-bottom: 10px;
        margin-left: 250px;
    }
}