.messenger {
  display: grid;
  width: 100%;
  height: 90vh;
  background: transparent;
  min-width: 600px;
  min-height: 600px;
  grid-template-columns: 350px auto;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.container {
  padding: 10px;
}

.message-list-container {
  height: 100%;
}

.opened-sidebar-btn {
  left: 188px;
  width: 30px;
  height: 60px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-left: 0;
  z-index: 100;
  position: relative;
  float: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.closed-sidebar-btn {
  left: 0px;
  width: 30px;
  height: 60px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-left: 0;
  z-index: 100;
  position: relative;
  float: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle-btn:focus {
  outline:0;}

.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
  height: 100%;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.footer {
  grid-column-start: 2;
  background: white;
}

.compose{
  position: absolute;
  background-color: #dddddd;
  border-radius: 30px;
  margin: 10px 10px;
}

.compose-input{
  font-size: 20px;
}

#footer{
  width: 100%;
}

@media (max-width:480px){
  .sidebar{
    width:80%;
  }
  .content{
    margin-left: -29%;
  }

  #footer{
    width: 100%;
  }

  .collapse-sidebar {
      height:100%;
  }
}