.messenger {
  display: grid;
  width: 100%;
  height: 100vh;
  background: transparent;
  min-width: 600px;
  min-height: 600px;
  grid-template-columns: 350px auto;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.container {
  padding: 10px;
}

.scrollable {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.footer {
  grid-column-start: 2;
  background: white;
}

.compose{
  position: absolute;
  background-color: #dddddd;
  border-radius: 30px;
}

.compose-input{
  font-size: 20px;
}

#footer{
  margin-top: 0 !important;
  width: 100%;
  min-width: 600px;
}

@media (max-width:480px){
  .sidebar{
    width:80%;
  }
  .content{
    margin-left: -29%;
  }

  #footer{
    margin-top: -1.5REM !important;
    width: 100%;
    min-width: 600px;
  }
}