@media all and (min-width: 480px) {
    #Login {
        margin: 0;
        position: relative;
        left: 50%;
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        top: 50px;
        width: 600px;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 50px 50px;
    }
}