#Login {
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    top:50px;
    width: 600px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px 20px;
}

.form-group {
    text-align: left;
}

.btn-toolbar {
    margin-bottom: 20px;
}