.Login {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px 20px;
}

.form-group {
    text-align: left;
}

.buttonToolbar {
    padding: 10px;
}