
#footer {
    background-color: #1EB4E2;
    min-height: 170px;
}

#contact_us {
    margin-top: 2rem;
    margin-bottom: 0px;
}

.contact_info {
    margin-bottom: 0px;
    color: #1111ff
}

#contact_hotline {
    margin-bottom: 0px;
    color: #1111ff
}