#footer {
    background-color: #1EB4E2;
    min-height: 170px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

#contact_us {
    margin-top: 1rem;
    margin-bottom: 0px;
}

#contact_info {
    margin-bottom: 0px;
}