.toolbar-button {
  color: #1EB4E2;
  font-size: 28px;
  transition: all 0.1s;
}

.toolbar-button:hover {
  cursor: pointer;
  color: rgb(78, 212, 253);
}

.toolbar-button:active {
  color: #1EB4E2;
  opacity: 0.25;
}